@charset "UTF-8";

    html {
        font-family: "Roboto", sans-serif;
    }
    *,
    *:after,
    *:before {
        box-sizing: border-box;
    }
    body {
        font-family: inherit;
        margin: 12vw 0 0 0;
        padding: 1.25vw;
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 12vw;
        z-index: 1;

        background-color: rgb(22, 84, 197);
        box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.438);
        
        font-family: inherit;
        color: #fff;
    }
    header .title {
        position: absolute;
        top: 4.25vw;
        left: 3vw;

        font-family: inherit;
        font-size: 3.5vw;
        font-weight: 700;
        line-height: 3.5vw;
    }
    header .npt-dateSearch {
        position: absolute;
        top: 4.25vw;
        left: 28vw;

        height: 3.5vw;
        width: 30vw;
        border-radius: 3.5vw;
        outline: none;
        border: none;

        font-family: inherit;
        font-size: 1.25vw;
        padding: 0 0.75vw 0 0.75vw;
    }
    header .btn-addEvent {
        position: absolute;
        top: 4.25vw;
        right: 3vw;

        font-family: inherit;
        font-size: 1.25vw;

        height: 3.5vw;
        width: 8vw;
        border: 1px solid grey;
        outline: none;
        border-radius: 3.5vw;
    }
    header .btn-addEvent:hover {
        background:rgb(44, 43, 43);
        color: #fff;
        transition: 0.2s;
    }
    .overlayEffect {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        cursor: pointer;
        transition: 0.2s;

    }
    .div-addEvent {
        position: fixed;
        margin: 0;
        padding: 1.5vw;
        height: 66.66vh;
        width: 66.66vw;
        top: 16.66vh;
        left: 16.66vw;
        background-color: #fff;
        box-shadow: 0 0 8px;
        z-index: 3;
        transition: 0.2s;
        font-family: inherit;
    }
    .div-addEvent .eventName {
        position: absolute;
        top: 2vw;
        left: 3vw;
        height: 3vw;
        width: 50vw;
        border-radius: 3vw;
        border: 1px solid #d3d3d3;
        outline: none;
        padding: 1vw;
        font-family: inherit;
        font-size: 1vw;
    }
    .div-addEvent .eventColor {
        position: absolute;
        top: 2vw;
        right: 3vw;
        height: 3vw;
        width: 10vw;
        border-radius: 3vw;
        border: 1px solid #d3d3d3;
        outline: none;
        padding: 0.75vw;
        font-family: inherit;
        font-size: 1vw;
    }
    .div-addEvent .eventStartDate {
        position: absolute;
        top: 6vw;
        left: 3vw;
        height: 2.5vw;
        width: 9vw;
        border-radius: 2.5vw;
        border: 1px solid #d3d3d3;
        outline: none;
        padding: 0.5vw;
        font-family: inherit;
        font-size: 1vw;
    }
    .div-addEvent .eventStartTime {
        position: absolute;
        top: 6vw;
        left: 13vw;
        height: 2.5vw;
        width: 9vw;
        border-radius: 2.5vw;
        border: 
    }
    .div-addEvent:child {
        border-color:rgb(22, 84, 197);
        transition: 0.2s;
    }
    .calendarContainer {
        font-family: inherit;
        position: relative;
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
    .monthSelect,
    .yearSelect {
        font-family: inherit;
        font-size: 1vw;
        position: relative;
        margin: 0;
        padding: 0 0 0 10px;
        width: 10vw;
        height: 2.75vw;
        border-radius: 3vw;
        border: 1px solid grey;
        outline: none;
    }
    .confirmMonthYear {
        font-family: inherit;
        font-size: 1vw;
        position: relative;
        margin: 0;
        padding: 0;
        width: 5vw;
        height: 2.75vw;
        border-radius: 3vw;
        border: 1px solid grey;
        outline: none;
    }
    .confirmMonthYear:hover {
        background-color: rgb(44, 43, 43);
        color: #fff;
        transition: 0.2s;
    }
    table {
        height: 100%;
        width: 100%;
        font-family: inherit;
        border-collapse: seperate;
        border-spacing: 0;
    }
    .head_cal {
        background: #fff;
        color: rgb(22, 84, 197);
        font-size: 2rem;
        line-height: 5rem;
        text-transform: uppercase;
    }
    .subhead_cal {
        background: rgb(22, 84, 197);
        color: #fff;
        font-size: 1.2rem;
        line-height: 2rem;
    }
    thead.time_cal .subhead_cal {
        background: rgb(22, 84, 197);
        color: #fff;
        font-size: 1.2rem;
        line-height: 2rem;
        text-align: center;
        padding: 0 0 0 3vw;
    }
    .week_cal {
        background: #fff;
        color: #d7d7d7;
        font-size: 1rem;
        line-height: 2rem;
    }
    .white_cal {
        background: #ececec !important;
    }
    tbody.time_cal tr td.spacer {
        padding: 0;
        margin: 0;
        border-top: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        width: 10%;
        height: 3vw;
    }
    tbody.time_cal tr td.event {
        padding: 0;
        margin: 0;
        border-top: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        width: auto;
        height: 3vw;
    }
    tbody.time_cal tr td.time {
        padding: 2vw;
        margin: 0;
        border: 1px solid #ececec;
        width: 10%;
        height: 3vw;
        font-family: inherit;
        text-align: center;
        font-size: 1.25vw;
    }
    tbody.time_cal tr td.end {
        padding: 0;
        margin: 0;
        border-top: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        border-right: 1px solid #ececec;
        width: 0.01%;
        height: 3vw;
    }
    tbody.days_cal tr td div {
        margin-top: 0;
        padding: 1rem;
        text-decoration: none;
        background: #fff;
        color: #888;
        height: 14.28571428571429vw;
        width: 100%;
        line-height: 1rem;
        vertical-align: top;
        text-align: right;
        display: inline-block;
        cursor: pointer;
    }
    tbody.days_cal tr td {
        padding: 0;
        margin: 0;
        border: 1px solid #ececec;
        width: 14.28571428571429%;
        height: auto;
    }
    .event {
        color: rgb(22, 84, 197) !important;
        transition: all 0.3s ease;
    }
    .today_cal.event {
        background: #ff8d8d !important;
        color: #fff !important;
        transition: all 0.3s ease;
    }
    .today_cal.event:hover,
    .event:hover {
        opacity: 0.5;
        transition: all 0.3s ease;
    }
    .week_event {
        color: rgb(22, 84, 197);
    }
    #js-calendarData {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        color: #c5c5c5;
        opacity:  0;
        visibility: hidden;
        transform: scale(0, 0);
        transition: all 0.8s ease;
    }
    #js-calendarData h3 {
        text-align: center;
        font-size: 20px;
        padding: 5px 10px;
        margin: 0;
        background: #f2f2f2;
        color: rgb(22, 84, 197);
        border-bottom: 1px solid #dfdfdf;
        text-transform: capitalize;
    }
    #js-calendarData dl {
        padding: 0.5em;
        margin-left: 0;
        display: block;
        height: calc(100% - 4rem);
    }
    #js-calendarData dt {
        float: left;
        clear: left;
        width: 5rem;
        text-align: left;
        font-size: 0.8rem;
        font-family: inherit;
        font-weight: 400;
        color: rgb(22, 84, 197);
        background: #fff;
        padding: 0.2rem;
    }
    #js-calendarData dd {
        margin: 0 0 1rem 5rem;
        padding: 0 0.5rem 0.5rem 0.5rem;
        font-family: inherit;
        font-size: 0.8rem;
        line-height: 1.2rem;
        color: #adadad;
        border-bottom: 1px solid #eaeaea;
    }
    #js_calendarData dd:last-child {
        border: none;
    }
    #js-calendarData a:not(.hideEvent) {
        color: rgb(22, 84, 197);
        border: 0.1rem solid rgb(22, 84, 197);
        padding: 0.2rem 1rem;
        text-decoration: none;
    }
    .showData {
        opacity: 1 !important;
        visibility: visible !important;
        transform: scale(1, 1) !important;
        transition: all 0.2s ease;
    }
    .hideEvent {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 2rem;
        font-family: inherit;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        background: #f2f2f2;
        border-left: 0.1rem solid #e5e5e5;
        color: #d3d3d3 !important;
    }
    .hideEvent:hover {
        text-decoration: none;
        color: #f55
    }